Repository cloudnc/ngx-sub-form, pull requests merged in 2020-02, with the labels that each got.

#128 fix: deprecate `OnFormUpdate` hook
  README.md
  projects/ngx-sub-form/src/lib/ngx-sub-form.types.ts
Labels: effort-1: minutes, scope: doc, scope: lib

#129 Remove on form update hook
  README.md
  projects/ngx-sub-form/src/lib/ngx-sub-form.component.spec.ts
  projects/ngx-sub-form/src/lib/ngx-sub-form.component.ts
  projects/ngx-sub-form/src/lib/ngx-sub-form.types.ts
Labels: PR-state: blocked, effort-1: minutes, flag: breaking change

#141 feat(lib): upgrade to Angular 9
  .travis.yml
  README.md
  angular.json
  package.json
  projects/ngx-sub-form/package.json
  projects/ngx-sub-form/src/lib/ngx-automatic-root-form.component.spec.ts
  projects/ngx-sub-form/src/lib/ngx-automatic-root-form.component.ts
  projects/ngx-sub-form/src/lib/ngx-root-form.component.ts
  projects/ngx-sub-form/src/lib/ngx-sub-form.component.ts
  projects/ngx-sub-form/tsconfig.lib.json
  projects/ngx-sub-form/tsconfig.lib.prod.json
  src/app/app.module.ts
  src/tsconfig.app.json
  tsconfig.json
  yarn.lock
Labels: dependencies, flag: breaking change, scope: lib, type: feature

#139 feat(ControlsType): added typings for AbstractControls + FormArrays
  README.md
  projects/ngx-sub-form/src/lib/ngx-sub-form-utils.ts
  projects/ngx-sub-form/src/lib/ngx-sub-form.component.ts
  projects/ngx-sub-form/src/lib/ngx-sub-form.types.ts
Labels: effort-2: hours, scope: doc, scope: lib, state: community, type: feature

#148 doc: fix typos
  README.md
  src/readme/listing.component.ts
Labels: effort-1: minutes, scope: doc
